.button {
  color: var(--cp);
  background-color: var(--cs);
  font-family: var(--poppins);
  font-weight: 500;
  border: 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
}

.button:hover {
  color: white;
  background-color: var(--cp);
}