.comment {
  display: flex;
  padding: 15px;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.commentText {
  background-color: var(--white-secondary);
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

p.content {
  margin: 0;
  word-wrap: break-word;
  font-size: 14px;
}

.commentMedia {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.media {
    max-width: 100%; /* La imagen/video no será más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}