main.container {
    display: flex;
    height: 100vh;
}
/* Modal */
.overlay {
    background-color: white;
    overflow: hidden;
    position: absolute;
    width: 0px;
    transition: 0.2s ease-in;
    height: 100%;
    left: 0px;
}

.modal h1 {
    white-space: nowrap;
    flex: 1;
    font-size: 20px;
}

.modalHeader {
    background-color: var(--cs);
    padding: 20px;
    display: flex;
    align-items: center;
}

.cardChat {
    white-space: nowrap;
    background: white;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Chats */
section.chats {
    display: flex;
    flex-direction: column;
}
.chatsHeader{
    background-color: white;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.chatsHeader h1{
    width: 200px;
    color: var(--color-dark);
    font-weight: 700;
    font-size: 20px;
    font-family: var(--poppins);
}

.cardChat {
    background-color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.cardChat:hover {
    background-color: var(--white-secondary);
}

.defaultUserState{
    position: relative;
}

.avatarContainer {
    background-color: white;
    width: 52px;
    min-width: 52px;
    height: 52px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.avatar {
    width: auto;
    height: 52px;
}
.defaultUser {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.circle {
    width: 15px;
    height: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}

.Disconected {
    background-color: rgb(143, 143, 143);
}

.Online {
    background-color: rgb(0, 255, 0);
}

.chat{
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.info {
    background-color: var(--white-secondary);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatHeader{
    width: 100%;
    background-color: var(--white-secondary);
    padding: 20px;
    display: flex;
    align-items: center;
}

.chatDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: scroll;
    height: 100%;
}

.chatHeader h1{
    width: 200px;
}

.message-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 40px;
}
.message {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: max-content;
    padding: 5px;
}
.message-body {
    display: flex;
    border-radius: 5px;
    width: max-content;
    padding: 5px 10px;
    width: 100%;
}
.right {
    align-self: flex-end;
    background-color: var(--cs);
}
.left {
    align-self: flex-start;
    background-color: white;
    left: 0;
}
.content {
    font-family: var(--poppins);
    font-size: 16px;
    margin: 0 5px 0 0;
    flex: 1;
}
.date {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 200;
    display: flex;
    align-items: end;
    justify-content: end;
}


.inputMsg{
    padding: 15px;
    flex: 1;
    background-color: white;
    border: 0;
    border-radius: 10px;
    outline: none;
    font-family: var(--poppins);
}

.friendChat:hover {
    background-color: var(--white-secondary);

}


img.media,
video.media {
    width: 100%;
    height: 100%;
}

.inputChat{
    display: flex;
}

.inputMsg {
    width: 100%;
    padding: 10px;
}

input.fileMedia {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label.fileMedia {
    width: max-content;
    text-align: center;
    color: var(--color-dark);
    padding: 20px;
    border-radius: 10px;
    font-family: var(--poppins);
    cursor: pointer;
}

label.file-media:hover {
    background-color: var(--white-secondary);
}

@media not all and (display-mode: standalone) {
    @media screen and (min-width: 1441px) {
        .container {
            top: 19px;
            width: calc(100% - 38px);
            max-width: 1600px;
            height: calc(100% - 38px);
            margin: 0 auto;
            padding: 20px 0;
            box-shadow: 0px 6px 18px rgba(var(--shadow-rgb), .05);
        }
    }
}