main.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--cs);
    overflow: hidden;
}

.form {
    width: 350px;
    min-height: 500px;
    padding: 50px 30px;
    background:#fff;
    transform: translate(0, 0) scale(1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h2.title{
    font-size: 30px;
    color: var(--cp);
    text-align: center;
}

.inputGroup {
    position: relative;
}

.inputGroupNames {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.medium {
    display: inline;
}

.inputGroup label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0.5px;
    pointer-events: none;
    transition: .5s;
}

.inputGroup input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
    transition: .5s;
    background-color: white;
}
.medium input {
    width: 140px;
}

.inputGroup input:focus~label,
.inputGroup input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fff;
    color: var(--cp);
}

.inputGroup input:focus,
.inputGroup input:valid {
    border: 1px solid var(--cp);
}

.remember {
    width: 100%;
}

.remember label {
    color: #333;
    font-size: 14px;
    input {
        accent-color: var(--cp);
    }
}

.signLink {
    font-size: 14px;
    text-align: center;
    color: #333;
}

.link {
    color: var(--cp);
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}