
.avatarContainer {
  background-color: white;
  width: 52px;
  min-width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative; /* Crea un contexto de apilamiento */
  z-index: 10;
}
.avatar {
  position:absolute;
  width: auto;
  height: 52px;
}
