.comments {
    display: flex;
    flex-direction: column;
  }
  
  .comment {
    display: flex;
    padding: 15px;
  }
  
  div.avatar-icon-comment {
    background-color: white;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  img.avatar-icon-comment {
    width: auto;
    height: 42px;
  }

  .author-name {
    font-weight: 800;
  }
  .prepare-coment {
    height: 60px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg.postear {
    width: 25px;
    height: 25px;
    stroke: var(--cp);
    pointer-events: none;
  }