main.default {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--cp);
    overflow: hidden;
}

button.toggleLogin {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 50px;
    background: var(--cs);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--cp);
    font-weight: 500;
    z-index: 1;
    transform-origin: bottom right;
    transition: 1.5s ease-in-out;
}

button.active {
    transform: scale(0);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: var(--cp);
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 5px 10px var(--cp);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close i {
    font-size: 20px;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    transition: height 0.7s ease;
}

.wrapper span {
    display: block;
    width: 400px;
    height: 50px;
    background: #fff;
    transform: translate(400px, -50px) scale(0);
    transform-origin: right;
    margin-bottom: -50px;
    transition: .5s ease-in-out;
    transition-delay: calc(.5s / var(--i));
}

.wrapper.active span {
    transition-delay: calc(.1s * var(--i));
    margin-bottom: 0;
    transform: translate(0, 0) scale(1);
}


.wrapper span:nth-of-type(1){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wrapper span:nth-of-type(10){
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg {
    position: absolute;
    width: 400px;
    height: 500px;
    background:var(--cp);
}

.wrapper.showBg .bg {
    z-index: 1;
}

.from-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    z-index: 2;
    transform: translate(500px, -200px) scale(0);
    transition: transform .5s ease-in-out, background 0s, left .5s ease-in-out;
}

.wrapper.active .fromWrapper {
    background:#fff;
    transform: translate(0, 0) scale(1);
    border-radius: 20px;
    border: 1px solid var(--cp);
}

.wrapper.show-sign .fromWrapper.sign-in {
    left: -2000px;
    transition-delay: 0s;
}

.wrapper .fromWrapper.sign-up {
    transform: translateX(2000px);
    transition-delay: 0x;
}

.wrapper.showSign .fromWrapper.sign-up {
    transform: translateX(0);
}

h2 {
    font-size: 30px;
    color: var(--cp);
    text-align: center;
}

.inputGroup {
    position: relative;
    margin: 30px 0;
}
.inputGroupNames {
    position: relative;
    margin: 30px 0;
    overflow: hidden;
}
.medium {
    display: inline;
}
.medium:last-child {
    right: 0;
}

.inputGroup label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0.5px;
    pointer-events: none;
    transition: .5s;
}

.inputGroup input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
    transition: .5s;
}
.medium input {
    width: 140px;
}

.inputGroup input:focus~label,
.inputGroup input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fff;
    color: var(--cp);
}

.inputGroup input:focus,
.inputGroup input:valid {
    border: 1px solid var(--cp);
}

.remember {
    margin: -15px 0 15px;
}

.remember label {
    color: #333;
    font-size: 14px;
}

.remember label imput {
    accent-color: var(--cp);
}

.btn {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: var(--cp);
    box-shadow: 0 5px 10px var(--cp);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

.signLink {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}

.signLink p {
    color: #333;
}

.signLink p a {
    color: var(--cp);
    text-decoration: none;
    font-weight: 600;
}

.signLink p a:hover {
    text-decoration: underline;
}

.google {
    width: 20px;
    height: 20px;
}

.btnGoogle {
    width: 40px;
    height: 40px;
}

