.nav {
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items:  center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #d3d3d3;
    z-index: 20; /* Z-index más bajo */
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}
.logo {
    width: auto;
    height: 50px;

}
.search {
    width: 300px;
    height: 40px;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--poppins);
    background-color: var(--white-secondary);
    border: none;
    outline: none;
}
.search::placeholder {
    color: var(--color-placeholder);
    
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.avatarContainer {
    background-color: white;
    width: 52px;
    min-width: 52px;
    height: 52px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.avatar {
    width: auto;
    height: 52px;
}

.textUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
p.user {
    color: black;
    padding: 0;
}
p.name {
    font-weight: 400;
}
.state {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}

.stateCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}

.Disconected {
    background-color: rgb(143, 143, 143);
}


.Online {
    background-color: rgb(0, 255, 0);
}
